= simple_form_for(@journal_entry) do |f|
  = f.error_notification

  .form-inputs
    = f.input :entry_date
    = f.input :description
    = f.input :purity
    = f.input :fitness
    = f.input :devotional
    = f.input :chrissy
    = f.input :relational
    = f.input :discipline
    = f.input :stress

  .form-actions
    = f.button :submit
