%h1 Listing Journal Entries

= paginate @journal_entries

%table.table.zebra-striped
  %tr
    %th Entry date
    %th Description
    -#%th Purity
    -#%th Fitness
    -#%th Devotional
    -#%th Chrissy
    -#%th Relational
    -#%th Discipline
    -#%th Stress
    %th
    %th
    %th

  - @journal_entries.each do |journal_entry|
    %tr
      %td= journal_entry.entry_date
      %td= truncate(journal_entry.description, length: 50)
      -#%td= journal_entry.purity
      -#%td= journal_entry.fitness
      -#%td= journal_entry.devotional
      -#%td= journal_entry.chrissy
      -#%td= journal_entry.relational
      -#%td= journal_entry.discipline
      -#%td= journal_entry.stress
      %td= link_to 'Show', journal_entry
      %td= link_to 'Edit', edit_journal_entry_path(journal_entry)
      %td= link_to 'Destroy', journal_entry, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Journal entry', new_journal_entry_path

= paginate @journal_entries
