= simple_form_for(@workout) do |f|
  = f.error_notification

  .form-inputs
    = f.input :workout_date, as: :date
    = f.input :description, as: :text
    = f.input :power
    = f.input :crossfit_workout_id

  .form-actions
    = f.button :submit
