%p#notice= notice

%p
  %b Task:
  = @next_step.task
%p
  %b Due date:
  = @next_step.due_date
%p
  %b Difficulty:
  = @next_step.difficulty

= link_to 'Edit', edit_stressor_next_step_path(@stressor, @next_step)
\|
= link_to 'Back', stressor_next_steps_path(@stressor)
