= simple_form_for(@business_transaction) do |f|
  = f.error_notification

  .form-inputs
    = f.input :amount
    = f.input :type, collection: [:income, :expense]
    = f.input :account, collection: ACCOUNTS
    = f.input :note, as: :text

  .form-actions
    = f.button :submit
