= simple_form_for(@rewards_program) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company
    = f.input :miles
    = f.input :expiration_date
    = f.input :number
    = f.input :the_deal
    = f.input :website
    = f.input :username
    = f.input :password, as: :string

  .form-actions
    = f.button :submit
