= simple_form_for(@goal) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, as: :string
    = f.input :time_frame, collection: [:near, :mid, :far]
    = f.input :description, as: :text
    = f.input :completion_date, as: :date
    = f.input :category, collection: [:faith, :work, :family, :community, :fitness]

  .form-actions
    = f.button :submit
